body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  margin: 15px;
  padding: 15px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}
